-- MySQL dump 10.13  Distrib 8.4.9, for Win64 (x86_64)
--
-- Host: localhost    Database: QuanLyThuVien
-- ------------------------------------------------------
-- Server version	8.4.9

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chitietphieumuon`
--

DROP TABLE IF EXISTS `chitietphieumuon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chitietphieumuon` (
  `MaChiTiet` int NOT NULL AUTO_INCREMENT,
  `MaPhieuMuon` int NOT NULL,
  `MaSach` int NOT NULL,
  `TrangThaiTra` int NOT NULL,
  PRIMARY KEY (`MaChiTiet`),
  KEY `IX_chitietphieumuon_MaPhieuMuon` (`MaPhieuMuon`),
  KEY `IX_chitietphieumuon_MaSach` (`MaSach`),
  CONSTRAINT `FK_chitietphieumuon_phieumuon_MaPhieuMuon` FOREIGN KEY (`MaPhieuMuon`) REFERENCES `phieumuon` (`MaPhieuMuon`) ON DELETE CASCADE,
  CONSTRAINT `FK_chitietphieumuon_sach_MaSach` FOREIGN KEY (`MaSach`) REFERENCES `sach` (`MaSach`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietphieumuon`
--

LOCK TABLES `chitietphieumuon` WRITE;
/*!40000 ALTER TABLE `chitietphieumuon` DISABLE KEYS */;
INSERT INTO `chitietphieumuon` VALUES (1,1,1,1),(2,1,2,0),(3,2,3,0);
/*!40000 ALTER TABLE `chitietphieumuon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danhgiasach`
--

DROP TABLE IF EXISTS `danhgiasach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danhgiasach` (
  `MaDanhGia` int NOT NULL AUTO_INCREMENT,
  `MaDocGia` int NOT NULL,
  `MaSach` int NOT NULL,
  `SoSao` int NOT NULL,
  `BinhLuan` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NgayDanhGia` datetime(6) NOT NULL,
  `TrangThai` int NOT NULL,
  PRIMARY KEY (`MaDanhGia`),
  KEY `IX_danhgiasach_MaDocGia` (`MaDocGia`),
  KEY `IX_danhgiasach_MaSach` (`MaSach`),
  CONSTRAINT `FK_danhgiasach_docgia_MaDocGia` FOREIGN KEY (`MaDocGia`) REFERENCES `docgia` (`MaDocGia`) ON DELETE CASCADE,
  CONSTRAINT `FK_danhgiasach_sach_MaSach` FOREIGN KEY (`MaSach`) REFERENCES `sach` (`MaSach`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danhgiasach`
--

LOCK TABLES `danhgiasach` WRITE;
/*!40000 ALTER TABLE `danhgiasach` DISABLE KEYS */;
INSERT INTO `danhgiasach` VALUES (1,1,1,5,'S├ích rß║Ñt hay v├á dß╗à ─æß╗ìc.','0001-01-01 00:00:00.000000',1),(2,2,3,4,'Nß╗Öi dung hß║Ñp dß║½n.','0001-01-01 00:00:00.000000',1);
/*!40000 ALTER TABLE `danhgiasach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docgia`
--

DROP TABLE IF EXISTS `docgia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docgia` (
  `MaDocGia` int NOT NULL AUTO_INCREMENT,
  `MaNguoiDung` int NOT NULL,
  `TenDocGia` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `GioiTinh` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NgaySinh` datetime(6) DEFAULT NULL,
  `SoDienThoai` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Email` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DiaChi` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `SoCCCD` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NgayBatDau` datetime(6) NOT NULL,
  `NgayKetThuc` datetime(6) DEFAULT NULL,
  `MaVaiTro` int DEFAULT NULL,
  `DaXoa` int NOT NULL,
  PRIMARY KEY (`MaDocGia`),
  UNIQUE KEY `IX_docgia_MaNguoiDung` (`MaNguoiDung`),
  KEY `IX_docgia_MaVaiTro` (`MaVaiTro`),
  CONSTRAINT `FK_docgia_nguoidung_MaNguoiDung` FOREIGN KEY (`MaNguoiDung`) REFERENCES `nguoidung` (`MaNguoiDung`) ON DELETE CASCADE,
  CONSTRAINT `FK_docgia_vaitrodocgia_MaVaiTro` FOREIGN KEY (`MaVaiTro`) REFERENCES `vaitrodocgia` (`MaVaiTro`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docgia`
--

LOCK TABLES `docgia` WRITE;
/*!40000 ALTER TABLE `docgia` DISABLE KEYS */;
INSERT INTO `docgia` VALUES (1,3,'Trß║ºn Hß╗ông Viß╗çt','Nam','2005-08-06 00:00:00.000000','0912345678','tranhongviet@gmail.com','─É├á Nß║╡ng','123456789012','0001-01-01 00:00:00.000000',NULL,1,0),(2,4,'L├¬ Thß╗ï B','Nß╗»','2004-05-10 00:00:00.000000','0987654321','lethib@gmail.com','Quß║úng Nam','987654321012','0001-01-01 00:00:00.000000',NULL,1,0);
/*!40000 ALTER TABLE `docgia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoidung`
--

DROP TABLE IF EXISTS `nguoidung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguoidung` (
  `MaNguoiDung` int NOT NULL AUTO_INCREMENT,
  `TenDangNhap` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MatKhau` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `HoTen` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `SoDienThoai` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Email` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Quyen` int NOT NULL,
  `TrangThai` int NOT NULL,
  PRIMARY KEY (`MaNguoiDung`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoidung`
--

LOCK TABLES `nguoidung` WRITE;
/*!40000 ALTER TABLE `nguoidung` DISABLE KEYS */;
INSERT INTO `nguoidung` VALUES (1,'admin','123456','Quß║ún trß╗ï vi├¬n','0900000001','admin@gmail.com',1,1),(2,'thuthu01','123456','Nguyß╗àn V─ân Thß╗º Th╞░','0900000002','thuthu@gmail.com',2,1),(3,'docgia01','123456','Trß║ºn Hß╗ông Viß╗çt','0912345678','tranhongviet@gmail.com',3,1),(4,'docgia02','123456','L├¬ Thß╗ï B','0987654321','lethib@gmail.com',3,1);
/*!40000 ALTER TABLE `nguoidung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhaxuatban`
--

DROP TABLE IF EXISTS `nhaxuatban`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhaxuatban` (
  `MaNhaXuatBan` int NOT NULL AUTO_INCREMENT,
  `TenNhaXuatBan` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DiaChi` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `SoDienThoai` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DaXoa` int NOT NULL,
  `NgayXoa` datetime DEFAULT NULL,
  PRIMARY KEY (`MaNhaXuatBan`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhaxuatban`
--

LOCK TABLES `nhaxuatban` WRITE;
/*!40000 ALTER TABLE `nhaxuatban` DISABLE KEYS */;
INSERT INTO `nhaxuatban` VALUES (1,'NXB Trß║╗','TP. Hß╗ô Ch├¡ Minh','0281111111',0,NULL),(2,'NXB Kim ─Éß╗ông','H├á Nß╗Öi','0242222222',0,NULL),(3,'NXB Gi├ío dß╗Ñc','H├á Nß╗Öi','0243333333',0,NULL);
/*!40000 ALTER TABLE `nhaxuatban` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieumuon`
--

DROP TABLE IF EXISTS `phieumuon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phieumuon` (
  `MaPhieuMuon` int NOT NULL AUTO_INCREMENT,
  `MaDocGia` int NOT NULL,
  `NgayMuon` datetime(6) NOT NULL,
  `HanTra` datetime(6) DEFAULT NULL,
  `TienCoc` decimal(65,30) NOT NULL,
  `TrangThai` int NOT NULL,
  `MaNhanVien` int DEFAULT NULL,
  `LyDoTuChoi` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NgayCapNhat` datetime(6) DEFAULT NULL,
  `DaXoa` int NOT NULL,
  PRIMARY KEY (`MaPhieuMuon`),
  KEY `IX_phieumuon_MaDocGia` (`MaDocGia`),
  KEY `IX_phieumuon_MaNhanVien` (`MaNhanVien`),
  CONSTRAINT `FK_phieumuon_docgia_MaDocGia` FOREIGN KEY (`MaDocGia`) REFERENCES `docgia` (`MaDocGia`) ON DELETE CASCADE,
  CONSTRAINT `FK_phieumuon_nguoidung_MaNhanVien` FOREIGN KEY (`MaNhanVien`) REFERENCES `nguoidung` (`MaNguoiDung`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieumuon`
--

LOCK TABLES `phieumuon` WRITE;
/*!40000 ALTER TABLE `phieumuon` DISABLE KEYS */;
INSERT INTO `phieumuon` VALUES (1,1,'0001-01-01 00:00:00.000000','2026-06-10 17:00:00.000000',50000.000000000000000000000000000000,1,2,NULL,NULL,0),(2,2,'0001-01-01 00:00:00.000000','2026-06-12 17:00:00.000000',50000.000000000000000000000000000000,0,NULL,NULL,NULL,0);
/*!40000 ALTER TABLE `phieumuon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieutra`
--

DROP TABLE IF EXISTS `phieutra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phieutra` (
  `MaPhieuTra` int NOT NULL AUTO_INCREMENT,
  `MaChiTiet` int NOT NULL,
  `NgayTra` datetime(6) NOT NULL,
  `TinhTrangSach` int DEFAULT NULL,
  `TienPhat` decimal(65,30) NOT NULL,
  `GhiChu` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MaNhanVien` int NOT NULL,
  PRIMARY KEY (`MaPhieuTra`),
  UNIQUE KEY `IX_phieutra_MaChiTiet` (`MaChiTiet`),
  KEY `IX_phieutra_MaNhanVien` (`MaNhanVien`),
  CONSTRAINT `FK_phieutra_chitietphieumuon_MaChiTiet` FOREIGN KEY (`MaChiTiet`) REFERENCES `chitietphieumuon` (`MaChiTiet`) ON DELETE CASCADE,
  CONSTRAINT `FK_phieutra_nguoidung_MaNhanVien` FOREIGN KEY (`MaNhanVien`) REFERENCES `nguoidung` (`MaNguoiDung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieutra`
--

LOCK TABLES `phieutra` WRITE;
/*!40000 ALTER TABLE `phieutra` DISABLE KEYS */;
INSERT INTO `phieutra` VALUES (1,1,'0001-01-01 00:00:00.000000',1,0.000000000000000000000000000000,'S├ích c├▓n tß╗æt',2);
/*!40000 ALTER TABLE `phieutra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quydinh`
--

DROP TABLE IF EXISTS `quydinh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quydinh` (
  `MaQuyDinh` int NOT NULL AUTO_INCREMENT,
  `TieuDe` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NoiDung` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NgayTao` datetime(6) NOT NULL,
  `TrangThai` int NOT NULL,
  PRIMARY KEY (`MaQuyDinh`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quydinh`
--

LOCK TABLES `quydinh` WRITE;
/*!40000 ALTER TABLE `quydinh` DISABLE KEYS */;
INSERT INTO `quydinh` VALUES (1,'Quy ─æß╗ïnh m╞░ß╗ún s├ích','Mß╗ùi ─æß╗Öc giß║ú ─æ╞░ß╗úc m╞░ß╗ún tß╗æi ─æa 3 cuß╗æn s├ích trong mß╗Öt lß║ºn.','2026-05-29 07:48:03.040228',1),(2,'Quy ─æß╗ïnh trß║ú s├ích','─Éß╗Öc giß║ú cß║ºn trß║ú s├ích ─æ├║ng hß║ín. Nß║┐u qu├í hß║ín hoß║╖c l├ám h╞░ hß╗Ång s├ích sß║╜ bß╗ï t├¡nh tiß╗ün phß║ít.','2026-05-29 07:48:03.040243',1);
/*!40000 ALTER TABLE `quydinh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sach`
--

DROP TABLE IF EXISTS `sach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sach` (
  `MaSach` int NOT NULL AUTO_INCREMENT,
  `ISBN` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `TenSach` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `HinhAnh` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MaTacGia` int DEFAULT NULL,
  `MaTheLoai` int DEFAULT NULL,
  `MaNhaXuatBan` int DEFAULT NULL,
  `GiaTien` decimal(65,30) DEFAULT NULL,
  `NamXuatBan` int DEFAULT NULL,
  `SoTrang` int DEFAULT NULL,
  `SoLuongTong` int NOT NULL,
  `SoLuongHienCo` int NOT NULL,
  `MoTa` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NgayTao` datetime(6) NOT NULL,
  `DaXoa` int NOT NULL,
  `NgayXoa` datetime DEFAULT NULL,
  PRIMARY KEY (`MaSach`),
  KEY `IX_sach_MaNhaXuatBan` (`MaNhaXuatBan`),
  KEY `IX_sach_MaTacGia` (`MaTacGia`),
  KEY `IX_sach_MaTheLoai` (`MaTheLoai`),
  CONSTRAINT `FK_sach_nhaxuatban_MaNhaXuatBan` FOREIGN KEY (`MaNhaXuatBan`) REFERENCES `nhaxuatban` (`MaNhaXuatBan`),
  CONSTRAINT `FK_sach_tacgia_MaTacGia` FOREIGN KEY (`MaTacGia`) REFERENCES `tacgia` (`MaTacGia`),
  CONSTRAINT `FK_sach_theloai_MaTheLoai` FOREIGN KEY (`MaTheLoai`) REFERENCES `theloai` (`MaTheLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sach`
--

LOCK TABLES `sach` WRITE;
/*!40000 ALTER TABLE `sach` DISABLE KEYS */;
/*!40000 ALTER TABLE `sach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sachyeuthich`
--

DROP TABLE IF EXISTS `sachyeuthich`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sachyeuthich` (
  `MaYeuThich` int NOT NULL AUTO_INCREMENT,
  `MaDocGia` int NOT NULL,
  `MaSach` int NOT NULL,
  `NgayThem` datetime(6) NOT NULL,
  PRIMARY KEY (`MaYeuThich`),
  KEY `IX_sachyeuthich_MaDocGia` (`MaDocGia`),
  KEY `IX_sachyeuthich_MaSach` (`MaSach`),
  CONSTRAINT `FK_sachyeuthich_docgia_MaDocGia` FOREIGN KEY (`MaDocGia`) REFERENCES `docgia` (`MaDocGia`) ON DELETE CASCADE,
  CONSTRAINT `FK_sachyeuthich_sach_MaSach` FOREIGN KEY (`MaSach`) REFERENCES `sach` (`MaSach`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sachyeuthich`
--

LOCK TABLES `sachyeuthich` WRITE;
/*!40000 ALTER TABLE `sachyeuthich` DISABLE KEYS */;
INSERT INTO `sachyeuthich` VALUES (1,1,3,'0001-01-01 00:00:00.000000'),(2,2,1,'0001-01-01 00:00:00.000000');
/*!40000 ALTER TABLE `sachyeuthich` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tacgia`
--

DROP TABLE IF EXISTS `tacgia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tacgia` (
  `MaTacGia` int NOT NULL AUTO_INCREMENT,
  `TenTacGia` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `TieuSu` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DaXoa` int NOT NULL,
  `NgayXoa` datetime DEFAULT NULL,
  PRIMARY KEY (`MaTacGia`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tacgia`
--

LOCK TABLES `tacgia` WRITE;
/*!40000 ALTER TABLE `tacgia` DISABLE KEYS */;
INSERT INTO `tacgia` VALUES (1,'Nguyß╗àn Nhß║¡t ├ünh','Nh├á v─ân Viß╗çt Nam nß╗òi tiß║┐ng vß╗¢i c├íc t├íc phß║⌐m d├ánh cho tuß╗òi hß╗ìc tr├▓.',0,NULL),(2,'Nam Cao','Nh├á v─ân hiß╗çn thß╗▒c ph├¬ ph├ín Viß╗çt Nam.',0,NULL),(3,'J.K. Rowling','T├íc giß║ú bß╗Ö truyß╗çn Harry Potter.',0,NULL);
/*!40000 ALTER TABLE `tacgia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theloai`
--

DROP TABLE IF EXISTS `theloai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theloai` (
  `MaTheLoai` int NOT NULL AUTO_INCREMENT,
  `TenTheLoai` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DaXoa` int NOT NULL,
  `NgayXoa` datetime DEFAULT NULL,
  PRIMARY KEY (`MaTheLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theloai`
--

LOCK TABLES `theloai` WRITE;
/*!40000 ALTER TABLE `theloai` DISABLE KEYS */;
INSERT INTO `theloai` VALUES (1,'V─ân hß╗ìc Viß╗çt Nam',0,NULL),(2,'Truyß╗çn thiß║┐u nhi',0,NULL),(3,'Tiß╗âu thuyß║┐t',0,NULL),(4,'Khoa hß╗ìc',0,NULL);
/*!40000 ALTER TABLE `theloai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongbao`
--

DROP TABLE IF EXISTS `thongbao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thongbao` (
  `MaThongBao` int NOT NULL AUTO_INCREMENT,
  `MaNguoiDung` int NOT NULL,
  `TieuDe` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `NoiDung` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DaDoc` int NOT NULL,
  `NgayTao` datetime(6) NOT NULL,
  PRIMARY KEY (`MaThongBao`),
  KEY `IX_thongbao_MaNguoiDung` (`MaNguoiDung`),
  CONSTRAINT `FK_thongbao_nguoidung_MaNguoiDung` FOREIGN KEY (`MaNguoiDung`) REFERENCES `nguoidung` (`MaNguoiDung`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongbao`
--

LOCK TABLES `thongbao` WRITE;
/*!40000 ALTER TABLE `thongbao` DISABLE KEYS */;
INSERT INTO `thongbao` VALUES (1,3,'Y├¬u cß║ºu m╞░ß╗ún ─æ├ú ─æ╞░ß╗úc duyß╗çt','Phiß║┐u m╞░ß╗ún cß╗ºa bß║ín ─æ├ú ─æ╞░ß╗úc thß╗º th╞░ duyß╗çt.',0,'0001-01-01 00:00:00.000000'),(2,3,'Nhß║»c hß║ín trß║ú s├ích','Bß║ín c├│ s├ích sß║»p ─æß║┐n hß║ín trß║ú, vui l├▓ng kiß╗âm tra lß╗ïch sß╗¡ m╞░ß╗ún.',0,'0001-01-01 00:00:00.000000');
/*!40000 ALTER TABLE `thongbao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vaitrodocgia`
--

DROP TABLE IF EXISTS `vaitrodocgia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vaitrodocgia` (
  `MaVaiTro` int NOT NULL AUTO_INCREMENT,
  `TenVaiTro` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DaXoa` int NOT NULL,
  `NgayXoa` datetime DEFAULT NULL,
  PRIMARY KEY (`MaVaiTro`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vaitrodocgia`
--

LOCK TABLES `vaitrodocgia` WRITE;
/*!40000 ALTER TABLE `vaitrodocgia` DISABLE KEYS */;
INSERT INTO `vaitrodocgia` VALUES (1,'Sinh vi├¬n',0,NULL),(2,'Giß║úng vi├¬n',0,NULL),(3,'Kh├ích ngo├ái',0,NULL);
/*!40000 ALTER TABLE `vaitrodocgia` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-29  9:39:21
